@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.content h2 {
	color: #fff;
	font-size: 90px;
	background-color: transparent;
	background: transparent;
	position: relative;
	display: inline-block;
	/* text-shadow: 0 0 50px rgba(255, 255, 255, 0.7); */
	animation: spotlight 3s infinite alternate;
	z-index: 1;
	overflow: hidden;
}
.spotlight {
	position: absolute;
	top: 0;
	left: -600px;
	width: 1200px;
	height: 100%;
	background: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1), transparent ,rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1), rgba(0, 0, 0, 1),rgba(0, 0, 0, 1));
	z-index: 2;
	animation: move-light 5s linear infinite;
}


@keyframes move-light {
       0% {
        left: -600px;
      }
      50% {
        left: -100px;
      }
      100% {
        left: -600px;
      }
    }
@media (max-width: 768px) {
	.spotlight {
		left: -600px;
		width: 800px;
	}
  @keyframes move-light {
    0% {
      left: -400px;
    }
    50% {
      left: -100px;
    }
    100% {
      left: -400px;
    }
  }
}

.content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
	  position: relative;
}

@media (max-width: 768px) {
	.content h2 {
		font-size: 52px;
	}

	.content img {
		width: 180px;
	}
}

.shadow-light {
	box-shadow: 0px 1px 2px 0px #1018280D;
}